################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceBus/ChatRoomApplication/ChatRoomApplication/bin/Debug
/ServiceBus/ChatRoomApplication/.vs/ChatRoomApplication/v15/.suo
/ServiceBus/ChatRoomApplication/ChatRoomApplication/obj/Debug
/ServiceBus/ChatRoomApplication/ChatRoomApplication/obj/Debug
